@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

body {
    background-image: url("images/background.jpg");
}

#head {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 30px;
    margin-left: 30px;
}

/* text input */
#userInput {
    width: 180;
    height: 40px;
    border: solid 2px;
    border-color: black;
    box-shadow: 0 2px 4px darkslategray;
    border-radius: 5px;
}

/* workspace */
#workspace {
    box-shadow: 0 2px 40px darkslategray;
    background-color: white;
    width: 600px;
    height: 600px;
    display: grid;
}

/* create grids button */

#btn{
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: all 0.2s ease;
    color: white;
    background-color: black;
    box-shadow: 0 2px 4px darkslategray;
    border-radius: 5px;
    border: none;
    font-size: 19px;
    letter-spacing: 1px;
    height: 45px;
    width: 120px;
  }

  #btn:active {
    background-color:white;
    color: black;
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
  }

  /* color button */

#colorpicker {
    width: 70px;
    height: 70px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

#colorpicker::-webkit-color-swatch {
  border: none;
  border-radius: 70%;
  border-color: transparent;
  box-shadow: 0 2px 4px darkslategray;
}

#colorpicker:active::-webkit-color-swatch {
  box-shadow: 0 0 2px darkslategray;
  transform: translateY(2px);
}

/* eraser button */

#eraser{
  padding: 0;
  font-size: 31px;
  background-color: black;
  color: white;
  border: none;
  height: 70px;
  width: 70px;
  box-shadow: 0 2px 4px darkslategray;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 70%;
}

#eraser:active {
  background-color:white;
  color: black;
  box-shadow: 0 0 2px darkslategray;
  transform: translateY(2px);
}

  /* pencil button */

  #pencil {
    padding: 0;
    font-size: 31px;
    background-color: black;
    color: white;
    border: none;
    height: 70px;
    width: 70px;
    box-shadow: 0 2px 4px darkslategray;
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 70%;
  }

#pencil:active {
    background-color:white;
    color: black;
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
  }
  
  /* main area */
  #mainDiv {
    display: flex;
    justify-content: center;
  }
/* butons */
#buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 35px;
  width: 150px;
}
